<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/nav") %>
    <h1>Anasayfa Hoşgelmişsen</h1>
    <p>Bir bilmecem var cocuklar haydi sor sor!</p>
</body>
</html>